/* Estilos para el scrollbar en Firefox */
* {
  scrollbar-width: thin; /* "auto" o "thin" para mostrar el scrollbar */
}

/* Estilos para el scrollbar-thumb en Firefox */
*::-moz-scrollbar-thumb {
  background-color: #d4d4d4; /* Gris muy tenue */
  border-radius: 6px;
}

/* Estilos para el scrollbar-track en Firefox */
*::-moz-scrollbar-track {
  background-color: rgba(240, 240, 240, 0.5); /* Gris muy tenue con opacidad */
  border-radius: 6px;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 3px;
}

/* Estilos para el scrollbar */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: #d4d4d4; /* Gris muy tenue */
  border-radius: 6px;
}

::-webkit-scrollbar-track {
  background-color: rgba(240, 240, 240, 0.5); /* Gris muy tenue con opacidad */
  border-radius: 6px;
}
